# Python virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Project specific
log/
log_tensorboard/
artifacts/
datasets/**/*ratings.*
datasets/**/raw.inter
*desktop.ini*
singularity/**/*.sif
